<div id="palindromeContainer" class="jsFuncContainer cleanFont">
	<div class="jsFuncSubContainer">
		<h1 id="palindromeTitle" class="jsFuncTitle">Palindrome Checker</h1>
		<form class="jsFuncForm">
			<input type="text" placeholder="A man, a plan, a canal. Panama." class="palindromeForm jsFuncInput" id="thePalindrome"/>
			<button id="palindromeButton" class="jsFuncButton" onclick='palindromeTester(thePalindrome.value)'>Check</button>
		</form>
		<h3 id="palindromeOutput" class="jsFuncOutput">Is it a palindrome?</h3>
	</div>
</div>
