<h1>Death Star Target Selector</h1>

<select id="selectablePlanetList" onchange="searchStarWars(value)">
	<option>Select Planet</option> 
{# would an HTML table be a better display option? #}
</select>
<main></main>
